* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.container {
  width: 500px;
  height: 600px;
  margin-top: 60px;
}

form {
  margin: 30px 50px 0px 10px;
}

.row {
  margin-left: 6px;
}

.btn-primary {
  color: white;
}

.current {
  background-color: blueviolet;
}

.chosen_city {
  margin: 50px 0px 50px 10px;
}

.data {
  color: grey;
  font-size: smaller;
}

.chosen_city_name {
  font-size: 36px;
  margin-bottom: 0;
  color: #016fc5;
}

.currently_temp {
  font-size: 45px;
  color: grey;
  padding: 10px 7px 0px 10px;
  font-weight: lighter;
}

.weather_container {
  margin: 0px 7px 20px 0px;
}

.currently_weather {
  color: #016fc5;
  font-size: 25px;
  font-weight: lighter;
}

.weather_info {
  padding: 15px 0px 0px 0px;
}

.weather_detail {
  font-size: 14px;
  font-weight: lighter;
  color: grey;
}

.col {
  text-align: center;
}

.row {
  text-align: center;
}
.weather_forecast {
  text-align: center;
}

.weather_forecast_date {
  font-size: 14px;
}

.weather_forecast_temp {
  color: black;
  font-size: 12px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.tempchange {
  font-size: 12px;
  text-align: left;
  text-decoration: none;
}

.weather_container .active {
  color: black;
}

.weather_container .active:hover {
  text-decoration: none;
  cursor: default;
}

.weather_forecast_temp_min {
  color: grey;
  padding-left: 5px;
}

.weather_forecast_icon {
  width: 42px;
  margin: 7px 0px 5px 0px;
}

.forecast {
  justify-content: space-between;
  margin: 0 7px 0 7px;
}
